*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

h1{
  margin: 2rem;
  text-align: center;
}

.table-div{
  text-align: center;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  border-collapse: collapse;
}

th,td{
  padding: 0.8rem;
}

